@charset "UTF-8";

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #90a8f5;
}

header {
    background-color: #2f428d;
    color: rgb(247, 237, 237);
    padding: 20px;
    text-align: center;
}

header h1 {
    margin: 0;
    font-size: 2.5em;
}

header p {
    font-size: 1.2em;
    margin: 10px 0 0;
}

.menu {
    position: fixed; /* Muda para 'fixed' para manter o botão fixo na tela */
    top: 20px; /* Ajuste a posição superior conforme necessário */
    right: 20px; /* Ajuste a posição direita para não invadir a borda da página */
    text-align: right;
    z-index: 1000; /* Garante que o menu esteja acima de outros elementos */
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-toggle {
    background-color: #273ff3;
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-toggle:hover {
    background-color: #19429b;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0; /* Ajusta o menu para alinhar com o botão */
}

.dropdown-content .dropdown-item {
    background-color: #273ff3;
    color: white;
    padding: 12px 16px;
    text-align: left;
    border: none;
    display: block;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}

.dropdown-content .dropdown-item:hover {
    background-color: #19429b;
}

.show {
    display: block;
}

.content {
    margin: 20px;
    padding: 20px;
    background-color: rgb(241, 249, 250);
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.image-container {
    text-align: center;
    margin: 20px 0;
}

.centered-image {
    display: inline-block;
    max-width: 100%;
    height: auto;
}
